:root{
    --gray: #4b4b4b;
    --white: #fff;
    --red: #ff5722;
    --blue: #4facfe;
    --green: #2ce49d;
    --gray2: #333;
    --white2: #f4f4f9; 
    --blue2: #00f2fe; 
    --red2: #e64a19; 
    --red3: #faaca8;
    --purple: #afa2d8; 
}

body {
    background-color: var(--white2);
    color: var(--gray2);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

#body-concentratie {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.button-container-index {
    display: flex;
    flex-wrap: wrap;
    width: 80vw; /* Adjusted width */
    justify-content: center;
    gap: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 10px; /* Adjust spacing between buttons */
    width: 90vw; /* The grid width is 90% of the viewport width */
    max-width: 500px; /* Optional: limit the maximum width for larger screens */
    margin: 0 auto; /* Center the grid */
}


@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

#game-head {
    font-size: 3em;
    margin-bottom: 0.5em;
    background-image: linear-gradient(to right, #e78528, #ae00fe, #e78528);
    color: transparent;
    background-clip: text;
    background-size: 200%; /* Allows the gradient to have space to move */
    animation: gradient-move 3s linear infinite, fade-in 5s ease-out forwards; /* Combine animations */
    opacity: 0; /* Initial state */
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    background-color: #555;
    border: none;
    border-radius: 10px;
    color: var(--white2);
    font-size: 1.2em;
    text-decoration: none;
    background-size: cover;
    background-position: center;
	transition: 0.5s ease;
}

.button-link:hover {
    background-color: var(--blue);
    background-position: right center;
}

.button-link2 {
    background-image: linear-gradient(to right, #94d8ff,  #48cff8 55%, #bb91ff 100%);
    background-size: 200% auto;
    border: none;
    border-radius: 10px;
    color: var(--white2);
    font-size: 1.7em;
    text-align: center;
    transition: 0.5s ease;
    animation: fade-in 1s ease-in forwards; /* Combine animations */
    opacity: 0; /* Initial state */
    /* Responsive sizing */
    width: 100%; /* Take up full width of the grid cell */
    aspect-ratio: 1 / 1; /* Ensures the button remains square */
}

.button-link2:hover, .button-link2.pressed {
    background-color: var(--blue);
    background-position: right center;
    font-size: 2em;
}

#button-container {
	max-width: 400px;
	margin: 0 auto;
}

#start-button, #settings-button, #next-button, #save-settings, #cancel-settings {
	padding: 2% 2%;
    width: 8em;
	font-size: 1.8em;
	margin-top: 2%;
	cursor: pointer;
    border: none;
	border-radius: 5px;
    background-image: linear-gradient(to right, var(--blue), var(--purple)  55%, var(--blue)  100%);
    background-size: 200% auto;
    color: var(--white);
	margin-bottom: 2%;
    transition: 0.5s ease; 
}


#input-container {
    font-size: 2em;
    margin-top: 0.5em;
    background-clip: text;
}

#solution-container {
    font-size: 2em;
    margin-bottom: 0.5em;
    background-clip: text;
}



.shining {
    background-image: linear-gradient(to right, #ffe920,  var(--green) 55%,  #bb91ff 100%);
    background-size: 200% auto;
    animation: gradient-move 2s infinite;
    background-clip: text;
    color: transparent;
}


#button-container *:hover {
    background-color: var(--blue);
    background-position: right center;
}


#settings-menu {
    max-width: 600px;
}

#settings-menu h2{
    font-size: 3em;
    margin-bottom: 0.5em;
    background-image: linear-gradient(to right, #4facfe, #00f2fe, #4facfe);
    color: transparent;
    background-clip: text;
    background-size: 200%; /* Allows the gradient to have space to move */
    animation: gradient-move 3s linear infinite; /* Adjust timing and smoothness */

}

#sequence-container {
	font-size: 60pt;
	text-align: center;
}

#score-container{
    font-size: 2.5em;
    margin-top: 0.5em;
	padding: 10px;
}

#number-container {
	font-size: 60pt;
	text-align: center;
}


.choice-button {
	flex-grow: 1;
	max-width: calc(33% - 10px);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4vw;
	height: 4vw;
	background-color: #555;
	border: none;
	border-radius: 10px;
	color: white;
	font-size: 1.1em;
	text-decoration: none;
	background-size: cover;
	background-color: #333; 
	background-position: center;
	transition: background-color 0.5s ease;
}

.choice-button:hover{
	background-color: #777; /* Dark mode button hover background */
}